* {
  box-sizing: border-box;
  font-family: Calibri, "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 16px;
  /* margin: 0;
        padding: 0; */
}
body {
  background-color: aliceblue;
}
@media screen and (min-width: 768px){
  body {
    margin-left: 10%;
    margin-right: 10%;
    background-color: aliceblue;
  }
}
@media screen and (min-width: 992px){
  body {
    margin-left: 15%;
    margin-right: 15%;
    background-color: aliceblue;
  }
}
@media screen and (min-width: 1080px){
  body {
    margin-left: 20%;
    margin-right: 20%;
    background-color: aliceblue;
  }
}


.top-head,
.objective {
  border: 1px double rgb(66, 55, 55);
  /* margin-bottom: 1px; */
}

.top-head h1,
.top-head p {
  text-align: center;
  /* margin-bottom: 0; */
}
.top-head {
  text-align: left;
  /* margin-bottom: 0; */
}

.info {
  /* border: 1px double blue; */
  margin: 2px;
}
.row {
  border: 1px double rgb(66, 55, 55);
  margin: 2px;
  padding-left: 2em;
}
.row-c {
  display: flex;
  border: 1px double rgb(66, 55, 55);
}
h2 {
  font-size: 1.5em;
}
.first-name,
.last-name {
  font-family: "Times New Roman", Times, serif;
  color: rgb(160, 160, 160);
  font-size: 2em;
}
.last-name {
  color: rgb(37, 37, 37);
}
#contact {
  font-weight: bold;
  color: #1d824c;
}
.objective {
  /* 1em = 16px by default
          2em = 32px by default
          formula: value-of-px/16px = value-of-em */
  text-align: center;
  padding: 0.5em;
}
#date {
  font-weight: bold;
}
#job-title {
  color: #1d824c;
  font-weight: bold;
  font-size: 1.2em;
}
#company {
  font-weight: bold;
  font-size: 1.2em;
}
.list-column {
  color: #1d824c;
  padding-left: 1em;
  width: 50%;
  border: 1px dotted gray;
}
.list-column span {
  color: black;
}
#field {
  text-align: center;
  margin-bottom: 0%;
  margin-top: 0%;
  /* padding-top: 0%;
          padding-bottom: 0%; */
}
